Flask==0.10.1
Flask-Bcrypt==0.6.0
Flask-Login==0.2.11
Flask-MongoKit==0.6
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.9.6
bcrypt==1.1.0
cffi==0.8.6
itsdangerous==0.24
py-bcrypt==0.4
pycparser==2.10
six==1.8.0
wsgiref==0.1.2
